.nav {
    right: 0;
    top: 0;
    margin: 20px;
    position: fixed;

    color: #FFFFFF;
    background-color: transparent;

    display: grid;
    align-items: center;
    gap: 10px;
}

.nav img {
    transition: transform .5s ease;
}
.nav img:hover {
    transform: rotate(-20deg) scale(1.2);
}
