<div style="transform: scale(1.2); transform: translate(0, 5%);">

    {{template "page_buttons.html" .}}

    <div class="row 
                row-cols-1
                row-cols-md-4
                gap-3
                justify-content-center">

        {{range .Videos}}
        <div class="card" style="padding-bottom: 10px;">
            <h5 style="padding-top: 10px;" class="text-center card-title">{{.Title}}</h5>
            {{if .IsVideo}}
            <video style="display: block;" 
                   class="card-text" 
                   width="100%" 
                   height="100%" 
                   aria-label="{{.Summary}}"
                   controls>

                <source src="{{.DownloadUrl}}" type="video/mp4">
            </video>
            {{else}}
            <img src="{{.DownloadUrl}}" 
                 alt="{{.Summary}}"
                 style="display: block;" 
                 class="card-text" 
                 width="100%" 
                 height="100%">
            {{end}}
        </div>
        {{end}}
    </div>

    {{template "page_buttons.html" .}}

</div>

<pre class="text-center fixed-bottom p-3">
    Some of the dates on these videos/images may be inaccurate.
    Copyright (c) 2025 Crafterbot. All Rights Reserved.
</pre>
