<div style="margin: 15px 0 15px 0;" class="text-center">
    <button hx-get="{{.PrevPageUrl}}" 
            hx-target="#video-container" 
            hx-swap="innerHTML"

            {{if not .PrevPageUrl}}
            disabled
            class="btn btn-outline-secondary" 
            {{else}}
            class="btn btn-secondary" 
            {{end}}
            >
        Prev
    </button>

    <button hx-get="{{.NextPageUrl}}" 
            hx-target="#video-container" 
            hx-swap="innerHTML"

            {{if not .NextPageUrl}}
            disabled
            class="btn btn-outline-secondary" 
            {{else}}
            class="btn btn-secondary" 
            {{end}}
            >
        Next
    </button>
</div>
